nav{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 50px;

}
.optdrop{
    padding:0px 2px;
}
.optdrop:hover{
    border-bottom: 2px solid rgb(183, 0, 255);
    transition-delay: 0.3s;
}
