.navbar{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 90px;
    background-color: #0D1117;
}
.brnd{
    font-size: 30px;
    font-weight: 540;
    background: linear-gradient(90deg,#01A06B,#b573f8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 10px;

}

.dis{
    display: block;
}
.disnone{
    display: none;
}
a{
    text-decoration: none;
}
.NavPart2{
    display: flex;
}
.navBtn{
    background-color:black;
    padding: 15px 20px;
    border-radius: 90px;
    font-weight:500;
    font-size: 14.5px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
}
.webBtn{
    background-color: #01A06B;
    color: black;
}
.webBtn:hover{
    background-color: white;
}
.dsaBtn{
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(128, 128, 128, 0.637);
}
.dsaBtn:hover{
    background-color: rgba(255, 255, 255, 0.09);
}


@media only screen and (max-width: 600px) {
    .navbar{
        padding: 0px 20px;
    }
    .navbar ul{
        display: none;
    }
 

}
