.navbar{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 90px;
    background-color: #0D1117;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 50px;

}
.optdrop{
    padding:2px 2px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    font-size: 17px;

}
.optdrop:hover{
    border-bottom: 3px solid #01A06B;
    transition-delay: 0.3s;
}
.dis{
    display: block;
}
.disnone{
    display: none;
}
a{
    text-decoration: none;
}

#menu > span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;  
    background-color: rgb(255, 255, 255);    
}
#menu > span:not(:last-child) {
    margin-bottom: 7px;
}
#menu, #menu > span {
    transition: all .4s ease-in-out;
}
#menu.active {    
    transition-delay:0.8s;
    transform:rotate(45deg);
}
#menu.active> span:nth-child(2) { 
    width: 0;
}
#menu.active> span:nth-child(1),#menu.active> span:nth-child(3) {
    transition-delay: .4s;
}
#menu.active> span:nth-child(1) {
    transform: translateY(9px);
}
#menu.active> span:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
}



@media only screen and (max-width: 600px) {
    .navbar{
        padding: 0px 20px;
    }
    .navbar ul{
        display: none;
    }
    .navbar .menu{
        height: 40px;
        display: block;
    }

}
