.highlighted{
    color: #01A06B;
    font-size: 80px;
}
.heading{
    font-size: 70px;
}
.you ,.highlighted{
    background: linear-gradient(90deg,#01A06B,#b573f8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.subheading{
    font-size: 20px;
    color: rgb(132, 132, 132);
    font-family: 'JetBrains Mono', monospace; 
    line-height: 50px;
    margin: 0px 0px 0px 9px;
}
.Page1{
    display: flex;
    background-color:#0E1319;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100% - 100px);
    padding: 0px 90px;
    font-weight: 600;
    line-height: 80px;
}
@media only screen and (max-width: 600px) {
    .Page1{
        padding:0px 20px;
        font-size: 15px;
    }
}
