.WebDev{
  width: 100%;
 
}
.webH{
  text-shadow:5px 5px 10px rgba(255, 255, 255, 0.164);
}
.WebCon1{
  height: 100svh;
  display: flex;
  justify-content: center;
  font-size: 80px;
  align-items: center;
  font-weight: 550;
}
.html{

  top: 160px;
  left: 180px;
}
.css{
  top: 110px;
  left:600px;
}
.js{
  top: 130px;
  right: 190px;
}
.reactJS{
  bottom: 90px;
  left: 400px;
}
.nodeJS{
  bottom: 90px;
  left: 730px;
}
.WebCon1 img{
  animation: IMGanimation 3s ease infinite;
  position: absolute;
  width: 120px;


}
@keyframes IMGanimation {
  0%{
    transform: translateY(0)rotate(15deg);
  }
  50%{
    transform: translateY(-10px)rotate(15deg);
  }
  100%{
    transform: translateY(0)rotate(15deg);
  }
}


@media only screen and (max-width: 600px) {
  .webH{
    font-size: 50px;
    text-align: center;
  }
  .WebCon1 img{
    width: 90px;
  }
  .html{
    top: 80px;
    left: auto;
    right: 80px;
  }
  .css{
    top: 280px;
    right: 30px;
    left: auto;
  }
  .reactJS{
    top: auto;
    bottom: 110px;
    left: 50px;
  }
  .js{
    top: auto;
    bottom: 30px;
    right: 10px;
  }
  .nodeJS{
    top:130px ;
    left: 5px;
  }
}